#root {
  margin: 0 auto;
  padding: 2rem;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}
